{:kotoba.app/id "cloud.itonami.isic-7820", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreictmgbp7sbeeyz6nzmlne6wsyu6gxxhsng2jl6bshefrgbfiptyve", :kotoba.app/embed-url "ipfs://bafkreictmgbp7sbeeyz6nzmlne6wsyu6gxxhsng2jl6bshefrgbfiptyve", :published {:archive "https://kotobase.net/ipfs/bafkreictmgbp7sbeeyz6nzmlne6wsyu6gxxhsng2jl6bshefrgbfiptyve", :size 72903, :put-status 201, :get-status 200, :at "2026-08-15T13:39:11.412Z"}}
